.btn-danger:hover, .btn-danger.active{
    
    background-color: #e6d817;
    transition: 2s;
}
.navbar-nav>a:hover{
    background-color: #f3ffd294;
    transition: 0.6s;

}
.card:hover{
    opacity: 0.8;
    color: #4a692de8;
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}
.btn {
    transition: all 0.3s ease-in-out;
}
